@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Customize themes further */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 text-gray-900; /* Default light mode styles */
}

.dark {
  @apply bg-gray-900 text-gray-100; /* Dark mode styles */
}

.toggle {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.toggle:checked {
  background-color: var(--tw-color-synthwave, #ff8c00);
}
